{% extends 'base.html' %}

{% block title %}
    Города
{% endblock %}

{% block content %}
    <h1>Список городов:</h1>
    <ol>
        {% for obj in ds %}
            <li><a href="{% url 'cities_main:cities_detail' pk=obj.id %}"><button type="button" class="btn btn-light">{{ obj.city }}</button></a></li>
        {% endfor %}
    </ol>

    <form action="" method="post">
    {% csrf_token %}
    <label for="city">Город</label><br/>
    <input type="text" id="city" name="city"><br/>
    <input type="submit" value="Добавить">
    </form>
{% endblock %}