{% extends 'base.html' %}

{% block title %}
    Города
{% endblock %}

{% block content %}
    <h1>Список городов:</h1>
    <ol>
        {% for obj in ds %}
            <li><a href="{% url 'cities_main:cities_detail' pk=obj.id %}"><button type="button" class="btn btn-light">{{ obj.city }}</button></a></li>
        {% endfor %}
    </ol>

    <a href="{% url 'cities_main:cities_create' %}"><button type="button" class="btn btn-light">Добавить город</button></a>

{#    <div class="raw">#}
{#        <div class="col-md-4">#}
{##}
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
                {#        <button type="button" class="btn btn-light">#}
{#                <input type="submit" value="Добавить" class="btn btn-light">#}
                {#        </button>#}
{#            </form>#}
{##}
{#        </div>#}
{#    </div>#}

{% endblock %}