{% extends 'base.html' %}

{% block title %}
    Города
{% endblock %}

{% block content %}
    <h1>Список городов:</h1>

    <table class="table table-hover table-striped">
        {% for obj in page_obj %}
            <tr>
                <td>
                    {{ obj.name }}
                </td>
                <td>
                    {{ obj.from_city }}
                </td>
                <td>
                    {{ obj.to_city }}
                </td>
                <td>
                    {{ obj.travel_time }}
                </td>

                <td><a href="{% url 'buses_main:buses_detail' pk=obj.id %}">
                    <button type="button" class="btn btn-light">Подробно</button>
                </a></td>

                <td><a href="{% url 'buses_main:buses_update' pk=obj.id %}">
                    <button type="button" class="btn btn-warning">Редактировать</button>
                </a></td>

                <td><a href="{% url 'buses_main:buses_delete' pk=obj.id %}">
                    <button type="button" class="btn btn-danger">Удалить</button>
                </a></td>
            </tr>
        {% endfor %}

    </table>

    <nav aria-label="paginator">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                       tabindex="-1">Пред.</a>
                {% endif %}
                </a>
            </li>
            {% for item in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link {% if page_obj.number == item %}active{% endif %}"
                                         href="?page={{ item }}">{{ item }}</a></li>
            {% endfor %}
            <li class="page-item">
                {% if page_obj.has_next %}

                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">След.</a>

                {% endif %}
            </li>
        </ul>
    </nav>

    <a href="{% url 'cities_main:cities_create' %}">
        <button type="button" class="btn btn-primary">Добавить город</button>
    </a>

{% endblock %}